.main {
  min-height: 100%;
}

.backgroundImage {
  box-sizing: border-box;
  background-image: url('/background-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.inputWrapper {
  color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  border: 2px solid white;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 80px;
}

.input {
  background: none;
  border: none;
  font-size: 18px;
  color: white;
  width: 250px;
}

.input::placeholder {
  color: white;
}

.input:focus {
  outline: none;
}

.submit {
  background: none;
  border: none;
  color: white;
}

.wrapper {
  text-align: center;
  margin: 70px auto 0;
  max-width: 1000px;
  background-color: black;
  opacity: .8;
  color: white;
  border-radius: 4px;
  padding: 32px 32px 60px;
}

.wrapperWithCity {
  margin: 10px auto 0;
  max-width: 500px;
  opacity: .8;
  color: white;
  border-radius: 4px;
  padding: 32px; 
}

.title {
  font-size: 64px;
}

.copy {
  margin-bottom: 60px;
}

.copyHasCity {
  font-size: 40px;
  margin-top: 0;
  text-align: center;
  margin: 10px 0 30px;
}

@media (max-width: 1015px) {
  .wrapper {
    margin: 70px 10px 0;
  }
}